* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Italic';
  src: url("../fonts/ProximaNova-RegularIt.eot");
  src: url("../fonts/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

.button-o {
  padding: 17px 22px;
  border: 2px solid #507fe1;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #507fe1;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #fff;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 12px;
  }
}

.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: #507fe1;
  color: #ffffff;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__phone {
  display: block;
  margin-bottom: 5px;
  font-size: 19px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-decoration: none;
  color: #262626;
}

.navbar__small-text {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

.menu {
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #507fe1;
  color: #ffffff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.menu_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 80px;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
}

.menu-button__line {
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  margin: 2px 0;
}

.logo__text {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.logo__description {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu {
    top: 60px;
  }
  .menu-button {
    height: 60px;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    margin-bottom: 20px;
  }
}

.hero {
  background-color: #f1f1f1;
  background-image: url("../img/hero/hero-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 80px;
  padding-top: 100px;
  padding-bottom: 270px;
}

.hero__title {
  margin-bottom: 40px;
  max-width: 272px;
  font-size: 30px;
}

.hero__subtitle {
  display: block;
  margin-bottom: 67px;
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

@media (max-width: 991px) {
  .hero {
    background-size: cover;
    background-position: top left 30%;
  }
}
/*# sourceMappingURL=style.css.map */