body
  +light
  color: $text-color

.button-o
  padding: 17px 22px
  border: 2px solid $primary
  +bold 
  color: $primary
  font-size: 12px
  text-transform: uppercase
  background-color: #fff

@media (max-width: 576px)
  .button-o
    font-size: 12px

.button
  padding: 25px 45px
  text-transform: uppercase
  border: none
  background-color: $primary
  color: #ffffff
  +bold

.bg-secondary
  background: $bg-secondary

.input
  height: 80px
  padding-left: 28px
  border: 1px solid #dddddd

.checkbox
  display: none
  &:checked + label::before
    background: $primary
  &-label
    display: flex
    align-items: center
    margin-right: 40px
    &:hover
      cursor: pointer
    &::before
      content: ''
      width: 30px
      height: 30px
      margin-right: 20px
      border: 1px solid #dddddd
    